

@{
    ViewData["Title"] = "Home Page";
}

@using jQWidgets.AspNetCore.Mvc.TagHelpers;
@model MainPageViewModel
@{
    ViewData["Title"] = "ASP .NET MVC Pie Chart Example";
    Padding padding = new Padding() { Left = 5, Top = 5, Right = 5, Bottom = 5 };
    Padding titlePadding = new Padding() { Left = 0, Top = 0, Right = 0, Bottom = 10 };
    Rectangle legendPosition = new Rectangle() { Left = 520, Top = 140, Width = 100, Height = 100 };
    FormatSettings formatSettings = new FormatSettings() { Sufix = "%", DecimalPlaces = 1 };
}


<div class="row">
    <label>ASP .NET Core MVC Chart Tag Helper Example</label><br /><br />
    <jqx-chart style="width: 850px; height: 500px;" color-scheme="scheme02" padding="padding" title-padding="titlePadding" title="Fitness & exercise weekly scorecard" description="Time spent in vigorous exercise" show-legend="true" legend-position="legendPosition" source="Model">
        <jqx-chart-x-axis datafield="Day" show-grid-lines="true"></jqx-chart-x-axis>
        <jqx-chart-series-groups>   
            <jqx-chart-serie-group show-labels="true" columns-gap-percent="50" series-gap-percent="0" type=@SerieType.Line>
                <jqx-chart-series>
                    @foreach (var c in Model.ChartItems)
                    {
                        <jqx-chart-serie symbol-type="square" datafield='Value' display-text='Keith'></jqx-chart-serie>
                    }
                </jqx-chart-series>
            </jqx-chart-serie-group>
        </jqx-chart-series-groups>
    </jqx-chart>

</div>

<div class="row">   
    @foreach (var player in Model.PlayerViewModels)
    {
        <div class="col-md-3">
            <h2>@player.Name</h2>
            
            @foreach (var day in player.ScoreItems.GroupBy(x => x.DateTime.Date))
            {
                <h4>@day.Key.ToShortDateString()</h4>
                <ul>
                    @foreach (var score in day)
                    {
                        <li>@score.Score</li>
                    }
                </ul>
            }

        </div>
    }
</div>
